<div>
  <h2>Make a new post</h2>
  <%= form_for @post do |form| %>
</div>
<div>
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>
<div>
  <%= form.label :price %>
  <%= form.text_field :price %>
</div>
<div>
  <%= form.label :body %>
  <%= form.text_area :body %>
</div>
<div>
  <%= form.label :category %>
  <%= form.collection_select :category_id, @categories, :id, :name %>
  <%= form.collection_select :region_id, @regions, :id, :name %>
</div>
<%= form.submit %>
<% end %>
