<div class="display-post">
  <h2><%= @post.title %></h2>
  <h4> by <%= mail_to @post.user_email %> </h4>
  <p><%= @post.body %></p>

  <% if current_user.owns?(@post) %>
    <%= button_to "Edit this post", :post, method: :patch %>
    <%= button_to "Delete this post", :post, method: :delete %>
  <% end %>

  <div class="post-footer">
    Category: <%= link_to @post.category_name, @post.category %>
    Region: <%= link_to @post.region_name, @post.region %>
  </div>
</div>
