<section class="outer-container">
  <div class="post">
    <h4 class="sub-title"><%= @post.title.capitalize %></h4>
    <p>Posted by: <%= mail_to @post.user_email %></p>
    <p><%= @post.body %></p>
    <%= render @post.images, post: @post %>
    <% if current_user.owns?(@post) || current_user.admin? %>
      <%= button_to "Edit this post", [:edit, :post], method: :get %>
      <%= button_to "Delete this post", :post, method: :delete %>
    <% end %>
    <p>Category: <%= link_to @post.category_name, @post.category %></p>
    <p>Region: <%= link_to @post.region_name, @post.region %></p>
    <% if @post.spam? %>
      <% if current_user.admin? %>
          <p><%= button_to "Unflag this post as spam", [@post, :spam], method: :delete %></p>
      <% end %>
    <% else %>
      <p><%= button_to "Flag this post as spam", [@post, :spam] %></p>
    <% end %>
  </div>
</section>
