<h2>Categories</h2>
<% if current_user.admin? %>
  <%= form_for @category do |f| %>
    <%= f.label "Name:", :name %>
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>
<% end %>

<%= render @categories %>
