<h2>Categories</h2>
<% if current_user.admin? %>
  <div>
    <%= form_for @category do |f| %>
      <%= f.label "Name:", :name %>
      <%= f.text_field :name %>
      <%= f.submit %>
    <% end %>
  </div>
<% end %>

<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category %></li>
  <% end %>
</ul>
