<ul>
    <li class="user-email">Signed in as, <%= current_user.email %></li>
    <div class="nav-col">
    <li><%= link_to "Categories", :categories %></li>
    <li><%= link_to "Regions", :regions %></li>
    <li><%= link_to "New Post", [:new, :post] %></li>
  </div>
  <div class="nav-col">
    <li><%= link_to "My Posts", :posts %></li>
    <% if current_user.admin? %>
      <li><%= link_to "Admin Panel", :admin %></li>
  <% end %>
    <li><%= link_to "Sign out", :session, method: :delete %></li>
  <div>
</ul>
