<!DOCTYPE html>
<html>
<head>
  <title>GarthsList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<section class="header">
  <div class="logo">
    <%= link_to :posts do %>
      <div class="logo-image"></div>
    <% end %>
  </div>
  <div class="login">
    <% if signed_in? %>
      <%= render "nav" %>
    <% else %>
      <nav>
        <%= link_to "Sign Up", [:new, :user], class: "button-left" %>
        <%= link_to "Sign In", [:new, :session], class: "button-right" %>
      </nav>
    <% end %>
  </div>
</section>

  <%= yield %>

</body>
</html>
