<!DOCTYPE html>
<html>
<head>
  <title>GarthsList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="logo">
    <%= link_to :posts do %>
      <%= image_tag "garthslist_logo.png" %>
    <% end %>
  </div>
  <% if signed_in? %>
    <p> Welcome, <%= current_user.email %></p>
    <%= button_to "Sign out", :session, method: :delete %> 
  <% else %>
      <%= link_to "sign up", [:new, :user] %>
      <%= link_to "sign in", [:new, :session] %>
  <% end %>

  <%= if signed_in? %>
    <% if current_user.admin? %>
      <%= link_to "admin panel", :admin %>
    <% end %>
  <% end %>

  <%= yield %>

</body>
</html>
