<!DOCTYPE html>
<html>
<head>
  <title>GarthsList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<section class="header">
  <div class="logo">
    <%= link_to :posts do %>
      <%= image_tag "garthslist_logo.png" %>
    <% end %>
  </div>
  <div class="login">
    <% if signed_in? %>
      <p> Welcome, <%= current_user.email %></p>
      <%= button_to "Sign out", :session, method: :delete %> 
      <% if current_user.admin? %>
        <%= button_to "Admin Panel", :admin, method: :get %>
      <% end %>
    <% else %>
        <%= link_to "Sign Up", [:new, :user] %>
        <%= link_to "Sign In", [:new, :session] %>
    <% end %>
  </div>
</section>

  <%= yield %>

</body>
</html>
